<div id="carouselanches" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/bacon.jpg" class="d-block w-100" alt="sanduiche com 2 carnes e bacon">
        </div>
        <div class="carousel-item">
            <img src="~/images/Duplo.jpg" class="d-block w-100" alt="dois sanduiches pelo preço de um">
        </div>
        <div class="carousel-item">
            <img src="~/images/trio.jpg" class="d-block w-100" alt="três sanduíches com desconto de 50%">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>